/*
!/.gitignore
!/.github
!/.envrc
!/flake.nix
!/flake.lock
!/apps
!/shells
!/packages
!/checks
!/home-configurations
!/scripts
!/global
!/.actrc
!/.config/yabridgectl/config.toml
!/.config/gamemode.ini
!/.config/nix/nix.conf
