{{ define "slack.icon" -}}
{{ if ne .Status "firing" }}:white_check_mark:{{ else if eq .CommonLabels.severity "critical" }}:rotating_light:{{ else }}:warning:{{ end }}
{{- end }}

{{ define "slack.title" -}}
{{ template "slack.icon" . }} {{ if eq .Status "firing" }}{{ .Alerts.Firing | len }} alert{{ if gt (len .Alerts.Firing) 1 }}s{{ end }}{{ else }}Resolved{{ end }}
{{- end }}

{{ define "slack.color" -}}
{{ if eq .Status "firing" -}}
{{ if eq .CommonLabels.severity "critical" }}#E01E5A{{ else }}#ECB22E{{ end }}
{{- else -}}
#2EB67D
{{- end }}
{{- end }}

{{ define "silence.1h.link" -}}
{{ .ExternalURL }}/#/silences/new?filter=%7Balertname%3D%22{{ .CommonLabels.alertname }}%22%7D&comment=Snoozed%20from%20Slack
{{- end }}

{{ define "silence.24h.link" -}}
{{ .ExternalURL }}/#/silences/new?filter=%7Balertname%3D%22{{ .CommonLabels.alertname }}%22%7D&comment=Snoozed%20from%20Slack
{{- end }}

{{ define "grafana.link" -}}
https://grafana.home/explore?orgId=1&left=%7B%22datasource%22:%22prometheus%22,%22queries%22:%5B%7B%22expr%22:%22up%7Binstance%3D%5C%22{{ .Labels.instance }}%5C%22%7D%22%7D%5D%7D
{{- end }}

{{ define "slack.text" -}}
{{ range .Alerts }}
*{{ .Labels.alertname }}* · {{ .Labels.instance }}
{{ .Annotations.description }}
{{ if eq .Status "firing" }}Since <!date^{{ .StartsAt.Unix }}^{date_short_pretty} {time}|{{ .StartsAt }}>{{ end }}
<{{ .GeneratorURL }}|Prometheus> · <{{ template "grafana.link" . }}|Grafana>
{{ end }}
{{- end }}
