{{ define "slack.icon" -}}
{{ if ne .Status "firing" }}:white_check_mark:{{ else if eq .CommonLabels.severity "critical" }}:rotating_light:{{ else }}:warning:{{ end }}
{{- end }}

{{ define "slack.title" -}}
{{ template "slack.icon" . }} {{ if eq .Status "firing" }}{{ .Alerts.Firing | len }} alert{{ if gt (len .Alerts.Firing) 1 }}s{{ end }}{{ else }}Resolved{{ end }}
{{- end }}

{{ define "slack.color" -}}
{{ if eq .Status "firing" -}}
{{ if eq .CommonLabels.severity "critical" }}#E01E5A{{ else }}#ECB22E{{ end }}
{{- else -}}
#2EB67D
{{- end }}
{{- end }}

{{/* Base silence URL with alertname and instance matchers */}}
{{ define "__silence.base" -}}
https://alertmanager.home/#/silences/new?filter=%7Balertname%3D%22{{ .CommonLabels.alertname }}%22%2Cinstance%3D%22{{ .CommonLabels.instance }}%22%7D
{{- end }}

{{ define "silence.1h.link" -}}
{{ template "__silence.base" . }}&comment=1%20hour
{{- end }}

{{ define "silence.4h.link" -}}
{{ template "__silence.base" . }}&comment=4%20hours
{{- end }}

{{ define "silence.tomorrow.link" -}}
{{ template "__silence.base" . }}&comment=Until%20tomorrow
{{- end }}

{{ define "silence.week.link" -}}
{{ template "__silence.base" . }}&comment=Until%20next%20week
{{- end }}

{{ define "silence.month.link" -}}
{{ template "__silence.base" . }}&comment=Until%20next%20month
{{- end }}

{{/* Grafana dashboard link */}}
{{ define "grafana.link" -}}
https://grafana.home/d/node-exporter/node-exporter?var-instance={{ .Labels.instance }}&from=now-1h&to=now
{{- end }}

{{/* Alertmanager alert view link */}}
{{ define "alertmanager.link" -}}
https://alertmanager.home/#/alerts?filter=%7Balertname%3D%22{{ .Labels.alertname }}%22%7D
{{- end }}

{{ define "slack.text" -}}
{{ range .Alerts }}
*{{ .Labels.alertname }}* · {{ .Labels.instance }}
{{ .Annotations.description }}
{{ if eq .Status "firing" }}Since <!date^{{ .StartsAt.Unix }}^{date_short_pretty} {time}|{{ .StartsAt }}>{{ end }}
<{{ .GeneratorURL }}|Prometheus> · <{{ template "grafana.link" . }}|Grafana> · <{{ template "alertmanager.link" . }}|Alertmanager>
{{ end }}
{{- end }}
