on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: carlthome/workflows/.github/workflows/nix.yaml@main
    with:
      cachix-cache: carlthome
    secrets:
      cachix-token: ${{ secrets.CACHIX_TOKEN }}
