name: Deploy Ping-Home Infra (Terraform)
on:
  workflow_dispatch:
env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: "europe-north1"
jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # REQUIRED FOR WIF OIDC
    defaults:
      run:
        working-directory: packages/ping-home/terraform
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init -backend-config="bucket=${{ secrets.GCS_BUCKET_NAME }}"
      - run: terraform plan -out=tfplan
        env:
          TF_VAR_project_id: ${{ env.PROJECT_ID }}
          TF_VAR_region: ${{ env.REGION }}
      - run: terraform apply -auto-approve tfplan
