on:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/ping-home-infra.yml"
      - "packages/ping-home/terraform/**"

jobs:
  plan-and-apply:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: packages/ping-home/terraform
    env:
      GOOGLE_REGION: ${{ vars.GOOGLE_CLOUD_REGION }}
    steps:
      - uses: actions/checkout@v6
      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.GOOGLE_CLOUD_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_CLOUD_SERVICE_ACCOUNT }}
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init -backend-config="bucket=${{ secrets.TERRAFORM_STATE_BUCKET_NAME }}"
      - run: terraform plan -out=tfplan
      - run: terraform apply -auto-approve tfplan
